<!DOCTYPE html>
<html>

<head>
  <base href="/">
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" src="./stylesheets/homepage.css" type="text/html">

</head>

<body>
  
  <div>
    <div id="first"></div>
    <div class="s1">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="   background-color: rgba(0,0,0,0.8)">
        <a class="navbar-brand" href=""><img src="/img/Crimefile_logo.png" height="60px" width="90px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          style="background: white;" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="user/about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/sign_up">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">Login</a>
            </li>
          </ul>
        </div>
      </nav>
      <hr>
