<%- include ('./partials/header') %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./stylesheets/about.css">

<div>
    <div><h1 class="text-center" style="color:grey; font-size:5vw;">VIRTUAL POLICE STATION</h1></div>
    <div >
        <p style="color:black; font-size:2vw;" >
            CRIME FILES, a Virtual Police Station, will strive towards excellence in all aspects of policing with the help of modern technological inputs and community participation. Our tagline says,
            GET EASY WAY TO FILE & ACCESS YOUR COMPLAINT…
            ANYWHERE, ANYTIME
            which is self-explanatory.
            The purpose of CRIME FILES is to uphold the law fairly and firmly. With its ' ideal' police stations and computerization initiative, Crime Files is poised on the threshold of excellence with a strong determination to serve the people of Indore even better in the times to come. 
            Common citizens can give information about missing property such as mobile phone, SIM card, documents etc. to the police and get acknowledgment. Common citizens can easily report any incident / suspicious activity to the police. Common citizens can communicate continuously with the police.
    </p>
    </div>
</div>
<%- include ('./partials/footer') %>