<%- include ('./partials/header') %>
<div class="container">
    <div class="jumbotron">
        CCTNS is a mission mode project of the Government of India. Under this project, all the police
        stations and senior police offices of the state have been computerized and added all over the
        country. Through the centralized application of this facility, all police officers can work in
        contact with each other and can exchange information of crime and criminals immediately. CCTNS
        portal for citizens has been developed by Madhya Pradesh Police. Facilities in the portal for
        citizens -

        Common citizens can give information about missing property such as mobile phone, SIM card,
        documents etc. to the police and get acknowledgment.
        Common citizens can easily report any incident / suspicious activity to the police without
        disclosing their identity.
        Common citizens can communicate continuously with the police, give tax feedback.
        Information related to missing human, unknown dead body is available for common citizen.
        Search facility for common citizen in stolen vehicles and vehicles recovered / seized by police.
        Engine No. / Chance No. / Registration No. Is available in the portal.
    </div>
</div>
<%- include ('./partials/footer') %>