
<head>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" src="./stylesheets/homepage.css" type="text/html">
  
  </head>
  
<h1 style="text-align: center">Enter OTP</h1>
<div style="width: 30%;margin: 25px auto;">
    <form action="/auth" method="POST">
        <div class="form-group">
            <input class="form-control" type="hidden" name="MobileNo" id="mobile"> 
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="otp" placeholder="Enter OTP"> 
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
        </div>
    </form>
</div>


<!-- <h1>Enter otp...</h1>
<form action="/auth" method="POST">
    <input type="hidden" name="MobileNo" id="mobile">
    <input type="text" name="otp">
    <button type="submit">Verify</button>
</form> -->
<script>
    alert(window.location.pathname.split('/')[2]);
    document.getElementById("mobile").value = window.location.pathname.split('/')[2];
</script>