<%- include ('./partials/header') %>

<link rel="stylesheet" href="./stylesheets/homepage.css">
<!-- <marquee behavior="" direction="" style="background-color:rgba(211, 27, 27, 0.864); color:black;"><h6>HELPLINE NUMBERS: Police:100(24x7)(Toll Free) Fire:101 Women-Helpline:1091 Children-Helpline:1098CM-Helpline:181 </h6>
</marquee> -->
<div class="text">
    <h4> VIRTUAL • POLICE • STATION</h4>
			<h1> CRIME FILES </h1>
			<h3> Get easy way to file and access your complaint Anywhere, Anytime </h3>
	<div class="container spl">
	  <a class="btn btn-danger bottom-button btn-lg" href="/user/contact">Contact</a>
	
	  <a class="btn btn-info bottom-button btn-lg" href="/user/sign_up">Sign Up</a>
	
	</div>
</div>
<%- include ('./partials/footer') %>
