<%- include ('./partials/header') %>
<div class="container" style="text-align: justify;">
    <div class="jumbotron" style="margin-top: 10%; "><center><h2 style="font-size: 7rem; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">SAFETY TIPS</h2></center></div>

    <h2>Residential Area</h2>
    <p>Hire qualified / experienced chowkidars only
        •	Check the antecedents / credentials of chowkidars and domestic servants before hiring them. Insist on references from their previous employers. Furnish their full particulars to your police station in the format suggested by them
        •	Always employ different chowkidars for day and night duties
        Vehicle Theft
        •	Every year, nearly 36,000 vehicles, which amount to Rs.115 crore, are stolen in India out of these, only about 14,500 are traced, often in un-roadworthy conditions, with many components missing. These vehicles are stolen only because thieves are provided with the opportunity to steal them. Very often, cars are left improperly secured and unattended. It is only with the installation of anti - theft devices that a thief's attempts can be frustrated.
        •	In a secure parking facility (garage, petrol pump, etc.) at night also safe-guards against theft. If such parking facilities are not available, parking in a well-lit area is the next best alternative.
        •	It is advisable to get the number of your car etched on your windscreens and window glasses. It helps the authorities to trace your car if stolen.
        </p>

        <h2>Commercial</h2>
        <p>•	Hire security personnel from reputed agencies only.
            •	If you regularly carry money, or any other precious commodity, change the route and time randomly.
            •	Avoid cash payments as far as possible, especially in the presence of servants / outsiders.
            •	Do not talk loudly on the telephone (especially cellular phones) about money matters.
            •	All security personnel, including lift men should be thoroughly briefed on various aspects of security.
            •	Wherever possible use CCTV and other electronic alarm systems.
            •	Inform the Police about any suspicious happening or unclaimed object lying for a long time. Extend full co-operation to the police.
            </p>

        <h2>Fraud Money Schemes</h2>
        <p>WHAT THEY SAY?
            •	Double the money, in two months or less.
            •	For that the postdated check is given as guarantee.
            •	They claim to invest in a grand project or cultivation. Money is collected in large amounts by a large part of the prize chains. In fact, chain marketing companies work on the basis of pyramid scheme A pyramid scheme is a non-sustainable business model. Mainly, it is necessary for other people to register money for the exchange of money. . United States, Great Britain, France, Canada, Malaysia, Norway, Australia, New Zealand, Nepal, Sri Lanka and Iran Pyramid scheme is illegal in many countries. Generally 99.99% people lose money in any MLM or pyramid scheme.
            </p>

        <h2>Senior Citizen's Safety</h2>
        <p>•	Majority of the offences committed by the persons are known to the victims such as servant, watchman, craftsman etc.
            •	Criminals are generally not on police record
            •	Poor response to get information of SENIOR CITIZEN’s who staying alone in the jurisdictions of various Police Stations.
            •	Fear of losing servants, information not provided to the Police by people.
        Do's
•	Do evacuate people immediately to a safe distance.
•	Open all windows & doors.
•	Place sand bags around the suspected object.
•	Inform bomb disposal squad.
•	Inform fire brigade, Hospital & Ambulance. Dont's
   
        </p>

        
        <h2>Children's and Women's Safety</h2>
        <p>Raise your voice against violence ... Dial 103 "No one has the right to…."
            •	Tease or Sexually Harass You.
            •	Make You Uncomfortable.
            •	Beat You,
            •	Torture You Physically or Mentally,
            •	Force Use On You in Any Way. Doesn’t make any difference, whether you are at home or on the streets, whether in school, college or in a social gathering or wherever you are. No matter what is your relationship
            </p>

        <h2>Vehicle Theft</h2>
        <p>WHAT YOU SHOULD NOT DO
            •	Never leave the vehicle door unlocked, nor the windows partially open. Make sure that the quarter glasses are properly secured. Do not leave valuables inside the car, even if it is locked, as this will attract thieves. Do not overdo extra fittings, as these tempt prospective thieves Never leave the key dangling in the ignition.
            </p>

        <h2>Cyber Crimes</h2>
        <p>Cyber Crimes
            DONT'S
            •	Do not share, disclose, or provide your bank card number, or password, to another party, or website, other than your bank. Most banks will not send you an email requesting this information. If your bank practices this very unsafe routine; you should change banks.
            •	Do not save your bank card number, or password, on a publicly accessed computer or your own computer.
            •	If you do use a public access computer such as at an Internet café or public library, (absolutely NOT recommended), to be safe, change your password after completing your session by calling your bank’s telephone banking number.
            •	When selecting a password, choose a series of characters that cannot be easily guessed by someone else. The best passwords are made up of an alpha-numeric combination that are more than eight characters
            •	Do not click on a LINK which opens your Bank Page.
            •	Do not reveal details regarding your Credit Card or Debit Card on telephone as the person may be impersonating as a Bank Official.
            </p>

        <p></p>

        <h2>IF FIRING OCCURS WHILE YOU ARE AT WORK OR WALKING ON A STREET ?</h2>
        <p>•	Lie down onto the ground immediately.
            •	Do not show any unwanted curiosity. The criminal may feel threatened and shoot at you.
            •	When possible, move to a safer place, slowly, without drawing attention to yourself. Take cover behind solid objects like a car or a wall.
            •	If you can see the criminals from your hiding place, try to note and memorize their distinguishing features.
            •	If you are out of sight of the criminals, call up 100 and inform the Police. If you are within earshot, try to remember their conversation. Do not disturb the scene of the crime.
            </p>

        <h2>BANKING PRECAUTIONS</h2>
        <p>•	Never introduce an unknown person for the purpose of opening an account in your Bank.
            •	Never encash cheques / drafts of an unknown person through your account.
            •	Do not keep your account in-operative for a long time.
            •	To avoid theft in postal transit or courier services and subsequent cheating, keep a track on the cheques / drafts / pay orders sent through post and courier services.
            •	As far as possible, bank transactions should be handled personally.
            •	Take care of your cheque books. Do not keep signed cheques in the drawer or any place where outsiders have an easy access.
            •	All bank transactions should be counter checked to ensure that deposited cheques have been released.
            •	Monthly statements of your bank account should be invariably checked. At the time of withdrawal/deposit of cash, you must physically check the cash. Never hand over the cash to a third person for counting.
            </p>

            <h2>Physical Security Measures In emergency situations :</h2>
            <p>•	Explosions and bomb-threat are a harsh reality in the current times.
                •	As the threat spreads to the life of common man, it becomes imperative for him to actively participate in dealing with it.
                •	What can collective responsibility do, neither any organization nor police can do.
                •	Awareness and preparation are the key words in dealing with the threat, whether potential or real.
                •	If people at large understand and execute certain laid down guidelines, they can greatly reduce the potential of personal injury, property loss and trauma that accompanies bomb-threat.
                •	Most important of all, they can help to reduce panic, the most contagious of all the human reactions and the ultimate achievement of the person executing the bomb-threat.
                •	This brochure has been designed to give you an understanding of the practical steps to be taken by way of precaution and detailed procedure to be implemented when a bomb-threat has been given.
                </p>

            <h2>Precautions in Gulf Jobs</h2>
            <p>•	There is a chain of unauthorized agents and subagents who claim to recruit for vacancies in gulf countries. These agents collect huge amounts from needy job seekers via attractive and misleading advertisements in newspapers.
                Secretaries of Societies are advised to brief all the security men / chowkidars / lift men about various aspects of security. Some of these are:
                •	To make an enquiry if a taxi or auto-rickshaw is seen parked inside the compound or outside the building for a long time.
                •	To inform the police in case they find any vehicle parked inside the building (if ownership is not known) for a long time.
                </p>

            <h2>KEEP IN MIND</h2>
            <p>•	Violence against you is not your fault.
                •	Violence is not anyone’s right.
                •	Don’t hesitate, or afraid to call our helpline number 103 – 24X7 for crime against women in Mumbai.
                •	We assure you that the police will come to your aid immediately.
                •	Your call may change the situation
                </p>

            <h2>WHAT YOU SHOULD DO…</h2>
            <p>•	Use securing devices like steering lock, clutch lock, brake lock, etc. Double-check all doors, including the boot if possible, install loud alarm systems in your car, so that thieves can be discouraged even if they manage to break into your car. Try and use detachable music systems and take them with you whenever you park the car for a long time, so that there is no temptation for thieves to make a quick steal when they see expensive items in parked cars. Paint your car number on the front and rear end of the body, apart from the number plates. Ideally, have it etched on the windscreens and window glasses too. This prevents them from being misused by criminals using fake number plates.</p>

            <h2>TO AVOID BOUNCING OF CHEQUES</h2>
            <p>•	Insist for D.D. or Pay Orders if you are dealing with an unknown party
                •	Postdated cheques should be avoided
                •	If a cheque bounces, you should give a notice to the person within 15 days of such intimation. If you do not receive a reply, file a complaint in the court under section 138 of the Negotiable Instruments Act, 1981, where effective remedies are available to the public. All cases of bounced cheques may not be offences of cheating under the Indian Penal Code
                </p>

            <h2>PRECAUTIONS</h2>
            <p>•	While applying for a new passport, fill up the application form and pay the money at the counter of the Passport office personally. Avoid using the services of self proclaimed agents loitering outside .
                •	There are no authorized agents appointed by the Passport Authority .
                •	Passports cannot be sold. Touts may try it on you, but remember that traveling on a bogus Passport is illegal .
                •	Looking for the registration number of recruiting agents on all advertisements for jobs outside India .
                •	Insist on seeing the original registration certificate of the agent and check its validity before handing over your passport .
                •	Get your passport, valid visa, travel tickets and ensure completion of all immigration formalities before handing over the full payment .
                •	Payment should be made only to authorized agents and a receipt thereof must always be obtained .
                •	Payment should be made only to authorized agents and a receipt thereof must always be obtained .
                </p>

            <h2>Credit Card / Debit Card / Online Banking</h2>
            <p>What you should not do?
                •	Never leave the vehicle door unlocked, nor the windows partially open. Make sure that the quarter glasses are properly secured Do not leave valuables inside the car, even if it is locked, as this will attract thieves Do not overdo extra fittings, as these tempt prospective thieves Never leave the key dangling in the ignition
                </p>

            <h2>Vehicle Theft</h2>
            <p>•	Every year, nearly 36,000 vehicles, which amount to Rs.115 crore, are stolen in India out of these, only about 14,500 are traced, often in un-roadworthy conditions, with many components missing. These vehicles are stolen only because thieves are provided with the opportunity to steal them. Very often, cars are left improperly secured and unattended. It is only with the installation of anti - theft devices that a thief's attempts can be frustrated.
                •	in a secure parking facility (garage, petrol pump, etc.) at night also safe-guards against theft. If such parking facilities are not available, parking in a well-lit area is the next best alternative.
                •	It is advisable to get the number of your car etched on your windscreens and window glasses. It helps the authorities to trace your car if stolen.
                </p>
                                
</div>















<%- include ('./partials/footer') %>
