<%- include ('./partials/header') %>
<h1 align="center" style="font-size: 40px;">SIGN UP FORM</h1>
<hr>
<div class="container" style="margin-bottom: 5%;">
    <p><b>
            <h1>Personal Information</h1>
        </b></p>
    <form>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="input4first">First Name</label>
                <input type="text" class="form-control" id="input4first" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <label for="input4last">Last Name</label>
                <input type="text" class="form-control" id="input4last" placeholder="Last Name">
            </div>
            <div class="form-group col-md-6">
                <label for="input4phn">Mobile No.</label>
                <input type="tel" class="form-control" id="input4phn" placeholder="Mobile No." name="number">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>

            <div class="form-group col-md-12">
                <label for="gender">Gender</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="idtype">ID type</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>Aadhar Card</option>
                    <option>Income Tax</option>
                    <option>Driving License</option>
                    <option> Passport</option>
                    <option>Voter Card</option>
                    <option>Ration Card</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="id">ID No.</label>
                <input type="number" class="form-control" id="id" placeholder="Id number">
            </div>
            <div class="col-md-12">
                <label class="control-label" for="date">Date of Birth</label>
                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="date" />

            </div>
            <div class="form-group col-md-12">
                <b> Current Address</b></div>
            <div class="form-group col-md-6">
                <label for="place">Village/Town/City</label>

                <input type="text" class="form-control" id="inputAddress" placeholder="Indore">
            </div>
            <div class="form-group col-md-6">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="ap">ANDHRA PRADESH</option>
                    <option value="arp">ARUNACHAL PRADESH</option>
                    <option value="ass">ASSAM</option>
                    <option value="bh">BIHAR</option>
                    <option value="ch">CHANDIGARH</option>
                    <option value="chh">CHHATTISGARH</option>
                    <option value="dl">DELHI</option>
                    <option value="go">GOA</option>
                    <option value="gj">GUJRAT</option>
                    <option value="hr">HARYANA</option>
                    <option value="hp">HIMACHAL PRADESH</option>
                    <option value="jk">JAMMU AND KASHMIR</option>
                    <option value="jh">JHARKHAND</option>
                    <option value="kr">KARNATAKA</option>
                    <option value="ke">KERALA</option>
                    <option value="mp">MADHYA PRADESH</option>
                    <option value="mh">MAHARASHTRA</option>
                    <option value="mn">MANIPUR</option>
                    <option value="me">MEGHALAY</option>
                    <option value="mi">MIZORAM</option>
                    <option value="ng">NAGALAND</option>
                    <option value="od">ODISHA</option>
                    <option value="pj">PUNJAB</option>
                    <option value="rj">RAJASTHAN</option>
                    <option value="sk">SIKKIM</option>
                    <option value="tn">TAMIL NADU</option>
                    <option value="te">TELANGANA</option>
                    <option value="tr">TRIPURA</option>
                    <option value="up">UTTAR PRADESH</option>
                    <option value="ut">UTTARAKHAND</option>
                    <option value="wb">WEST BENGAL</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputDistrict">District</label>
                <select id="inputDistrict" class="form-control">
                    <option selected>Choose...</option>
                    <option>Indore</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputZip">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-group col-md-12">
                <i> This is your permanent address?</i></div>
            <div class="form-group col-md-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="securityques">Security Question</label>
                <select id="securityques" class="form-control">
                    <option selected>Choose...</option>
                    <option>My Birthday</option>
                    <option> What is your first school name?</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="securityans">Security Answer</label>
                <input type="text" class="form-control" id="securityans">
            </div>
            <div class="form-group col-md-12">
                <label for="loginId">Generate your login id</label>
                <input type="text" class="form-control" id="loginId">
                <p style="color: green;">Available </p>
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Confirm Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-success" value="Send code">Send Code</button>
            <button type="submit" class="btn btn-succes" value="submit">Submit</button>
        </div>
    </form>
</div>
</div>
</div>

<%- include ('./partials/footer') %>